body{
    font-family: Calibri, monospace;
}
input, select{
    font: inherit;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: rgba(6, 25, 45, 0.6);;
    background-color: rgba(239, 236, 236, 0.14);
    border-radius: 7px;
    text-transform: none;
}
p{
    color: rgba(6, 25, 45, 0.6);
    font-family: Calibri, monospace;
    margin-top: 0;
    margin-bottom: 0;
}
h5{
    color: rgba(2, 21, 40, 0.6);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: rgba(6, 25, 45, 0.6);
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
h4{
    margin-top: 0;
    margin-bottom: 0;
}
.h4-tbl{
    color: rgba(6, 25, 45, 0.6);
    margin-top: 0;
    margin-bottom: 0;
}
select{
    width: 100%;

}
input{
      width: 99%;
}
#player1{
 display: none;
}
#player2{
    display: none;
}
#player3{
    display: none;
}
#player4{
    display: none;
}
/* Mobile */
@media screen and (max-width: 400px) {
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    input{
        width: 60%;
    }
}
/* Desktop */
@media screen and (min-width: 1025px) {
    input{
        width: 60%;
    }
    select{
        width: 60.5%;
    }
}