<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/button.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="stylesheet" type="text/css" href="css/input.css">
    <link rel="stylesheet" type="text/css" href="css/article.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Home</title>
</head>
<body>
<div class="grid" id="app">
    <article class="item1">
        <div class="inner-Header">
            <h1>YATZY SPEL</h1>
        </div>
    </article>

    <article class="item2">
        <div class="inner-Body">

                <button class="btn--blue m1" v-if="isPlayerOne === true || isPlayerTwo ===true" v-on:click="savePlayers()">New Game</button>
                <button class="btn--gray m1" v-on:click="showScore() + sortArray()" v-if="scoreIsSelected===false && playIsStarted === true">Scores</button>
                <button class="btn--orange m1" v-if="playIsStarted===false && scoreIsSelected===false && isHelp === false" v-on:click="showHelp()">HELP</button>
                <button class="btn--red m1" v-show="playIsStarted || isHelp" v-on:click="goBack()">Quit</button>
                <button class="btn--gray m1" v-show="scoreIsSelected" v-on:click="playBack()">Back To Play</button><br>

                <select id="selectPlayers" name="players" @change="onChange($event)" v-on:change="showStuff()" v-model="key" v-if="playIsStarted===false && scoreIsSelected===false && isHelp === false">
                    <option value="0">Select the number of player(s)</option>
                    <option value="1">One player is selected</option>
                    <option value="2">Two players are selected</option>
                </select>

                <input v-show="isPlayerOne" type="text" id="playName1" maxlength="50" v-model="player1Name" placeholder="Player one's name">
                <input v-show="isPlayerTwo" type="text" id="playName2" maxlength="50" v-model="player2Name" placeholder="Player two's name">

                <table class="center" v-show="playIsStarted" v-if="gameIsDone===false">
                    <tbody>
                        <tr>
                            <td><h4 class="h4-tbl"> Your turn: {{playerNow}} </h4></td>
                            <td></td>
                            <td></td>
                            <td><h4 class="h4-tbl"> Round: {{roundNow}} / 15 </h4></td>
                        </tr>
                    </tbody>
                </table>
            <table class="center" v-show="playIsStarted" v-if="gameIsDone===true">
                <tbody>
                <tr>
                    <td></td>
                    <td v-if="values ==='1'"> Good job {{playerNow}}! Your score is : {{finalScorePlayerOne}}</td>
                    <td v-if="values ==='2' && finalScorePlayerOne !== finalScorePlayerTwo"> The winner is: {{theWinnerName}}! with the score : {{theWinnerScore}}</td>
                    <td v-if="values ==='2' && finalScorePlayerOne === finalScorePlayerTwo">{{theWinnerName}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>

                <table class="center" v-show="playIsStarted" v-if="gameIsDone===false">
                    <tr>
                        <td><button :disabled="first === '-'" class="btn" v-bind:class="[isDiceFirstActive ? 'btn--blue--dice' : 'btn']" @click="toggleClassDiceOne()" ><h4>{{first}}</h4></button></td>
                        <td><button :disabled="second === '-'" class="btn" v-bind:class="[isDiceSecondActive ? 'btn--blue--dice' : 'btn']" @click="toggleClassDiceTwo()" ><h4>{{second}}</h4></button></td>
                        <td><button :disabled="third === '-'" class="btn" v-bind:class="[isDiceThirdActive ? 'btn--blue--dice' : 'btn']" @click="toggleClassDiceThree()" ><h4>{{ third }}</h4></button></td>
                        <td><button :disabled="fourth === '-'" class="btn" v-bind:class="[isDiceFourthActive ? 'btn--blue--dice' : 'btn']" @click="toggleClassDiceFour()" ><h4>{{ fourth }}</h4></button></td>
                        <td><button :disabled="fifth ==='-'" class="btn" v-bind:class="[isDiceFifthActive ? 'btn--blue--dice' : 'btn']" @click="toggleClassDiceFive()" ><h4>{{ fifth }}</h4></button></td>
                    </tr>
                </table>
            <button class="btn--green m1" :disabled="counter === roundsPerPlayer" v-if="counter !== roundsPerPlayer" v-show="playIsStarted" v-on:click="throwDice()">Throw Dice</button>
            <p>{{errorMessage}}</p>
                <div class="box">
                        <div class="div-1" v-if="playIsStarted === true">
                            <table class="center" >
                                <tbody>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>UPPER SECTION</h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="onesDisable===true" class="btn-tbl" v-bind:class="[onesDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreOnesCalculate() + totalBonus()">Ones</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="twosDisable===true" class="btn-tbl" v-bind:class="[twosDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreTwosCalculate() + totalBonus()">Twos</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="threesDisable===true" class="btn-tbl" v-bind:class="[threesDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreThreesCalculate() + totalBonus()">Threes</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="foursDisable===true" class="btn-tbl" v-bind:class="[foursDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreFoursCalculate() + totalBonus()">Fours</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="fivesDisable===true" class="btn-tbl" v-bind:class="[fivesDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreFivesCalculate() + totalBonus()">Fives</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="sixesDisable===true" class="btn-tbl" v-bind:class="[sixesDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreSixesCalculate() + totalBonus()">Sixes</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>BONUS</h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>TOTAL UPPER SECTION</h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>LOWER SECTION</h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="onePairDisable===true" class="btn-tbl" v-bind:class="[onePairDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreOnePairCalculate() + totalBonus()">1 Pair</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="twoPairsDisable===true" class="btn-tbl" v-bind:class="[twoPairsDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreTwoPairsCalculate() + totalBonus()">2 Pairs</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="threeOfKindDisable===true" class="btn-tbl" v-bind:class="[threeOfKindDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreThreeOfAKindCalculate() + totalBonus()">3 of a Kind</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="fourOfKindDisable===true" class="btn-tbl" v-bind:class="[fourOfKindDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreFourOfAKindCalculate() + totalBonus()">4 of a Kind</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="smallStraightDisable===true" class="btn-tbl" v-bind:class="[smallStraightDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreSmallStraightCalculate() + totalBonus()">Small Straight</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="largeStraightDisable===true" class="btn-tbl" v-bind:class="[largeStraightDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreLargeStraightCalculate() + totalBonus()">Large Straight</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="fullHouseDisable===true" class="btn-tbl" v-bind:class="[fullHouseDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreFullHouseCalculate() + totalBonus()">Full House</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="chanceDisable===true" class="btn-tbl" v-bind:class="[chanceDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreChanceCalculate() + totalBonus()">Chance</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="yahtzeeDisable===true" class="btn-tbl" v-bind:class="[yahtzeeDisable ? 'btn-tbl-disable' : 'btn-tbl']" v-on:click="scoreYahtzeeCalculate() + totalBonus()">Yatzy</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>TOTAL SCORE</h4></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="div-2" v-if="playIsStarted===true && values!=='0'">
                            <table class="center" >
                                <tbody>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>{{player1Name}}</h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{onesScorePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{twosScorePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{threesScorePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{foursScorePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{fivesScorePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{sixesScorePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{bonusPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>{{totalBonusPlayOne}}</h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{onePairPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{twoPairsPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{threeOfAKindPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{fourOfAKindPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{smallStraightPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{largeStraightPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{fullHousePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{chancePlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{yatzyPlayOne}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>{{totalScorePlayOne}}</h4></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="div-3" v-if="playIsStarted===true && values==='2'">
                            <table class="center" >
                                <tbody>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>{{player2Name}}<h4></h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{onesScorePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{twosScorePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{threesScorePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{foursScorePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{fivesScorePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{sixesScorePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{bonusPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>{{totalBonusPlayTwo}}</h4></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"></button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{onePairPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{twoPairsPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{threeOfAKindPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{fourOfAKindPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{smallStraightPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{largeStraightPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{fullHousePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{chancePlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply">{{yatzyPlayTwo}}</button></td>
                                </tr>
                                <tr>
                                    <td><button :disabled="playIsStarted" class="btn-ply"><h4>{{totalScorePlayTwo}}</h4></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
                <div v-if="scoreIsSelected===true" class="div-Score">
                    <ul>
                        <li
                                is="highScore-item"
                                v-for="highScore in highScores"
                                v-bind:key="highScore.id"
                                v-bind:score="highScore.score"
                                v-bind:player="highScore.player"
                        ></li>
                    </ul>
                </div>


            <table class="smallBlack" cellspacing="0" cellpadding="1" bordercolor="#ccc" border="1" bgcolor="#FFFFFF" v-show="isHelp">
                <tbody><tr>
                    <td><b>Options</b></td>
                    <td>Points</td>
                    <td>Example</td>
                </tr>
                <tr>
                    <td><b>Ones</b></td>
                    <td>The number of eyes on the dice that show 1.</td>
                    <td>3 1 1 6 1 =3 points</td>
                </tr>
                <tr>
                    <td><b>Twos</b></td>
                    <td>The number of eyes on the dice that show 2.</td>
                    <td>2 5 4 3 2 =4 points</td>
                </tr>
                <tr>
                    <td><b>Threes</b></td>
                    <td>The number of eyes on the dice that show 3.</td>
                    <td>3 2 3 4 3=9 points</td>
                </tr>
                <tr>
                    <td><b>Fours</b></td>
                    <td>The number of eyes on the dice that show 4.</td>
                    <td>4 4 3 5 4=12 points</td>
                </tr>
                <tr>
                    <td><b>Fives</b></td>
                    <td>The number of eyes on the dice that show 5.</td>
                    <td>5 1 5 5 4=15 points</td>
                </tr>
                <tr>
                    <td><b>Sixes</b></td>
                    <td>The number of eyes on the dice that show 6.</td>
                    <td>4 6 1 6 6=18 points</td>
                </tr>
                <tr>
                    <td><b>Bonus</b></td>
                    <td>35 points if the sum of the fields Ones to Sixes is 63 points or more.
                        If the sum is 63 points or less then bonus is 0 points.</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><b>One pair</b></td>
                    <td>Two dice with the same value. The number of eyes on the two dice are counted.</td>
                    <td>6 4 6 5 1=12 points</td>
                </tr>
                <tr>
                    <td height="2"><b>Two pairs</b></td>
                    <td height="2">Two pairs. The pairs have to have different values.</td>
                    <td height="2">3 1 3 5 5=16 points</td>
                </tr>
                <tr>
                    <td><b>3 of a kind</b></td>
                    <td>Add all dice if three dice with the same value.</td>
                    <td>5 3 5 5 4=22 points</td>
                </tr>
                <tr>
                    <td><b>4 of a kind</b></td>
                    <td>Add all dice if four dice with the same value.</td>
                    <td>2 2 5 2 2=13 points</td>
                </tr>
                <tr>
                    <td><b>Small straight</b></td>
                    <td>The dice have to show 2 2 3 4 5. The last die can show anything. Small
                        straight is worth 30 points.</td>
                    <td>2 2 3 4 5=30 points</td>
                </tr>
                <tr>
                    <td><b>Large straight</b></td>
                    <td>The dice have to show 2 3 4 5 6. The last die can show anything. Large
                        straight is worth 20 points.</td>
                    <td>2 3 4 5 6=40 points</td>
                </tr>
                <tr>
                    <td height="16"><b>Full house 2+3</b></td>
                    <td height="16">One pair and '3 of a kind'. The dice in the pair and in the
                        '3 of a kind' have to have different values.</td>
                    <td height="16">4 4 2 2 2=25 points</td>
                </tr>
                <tr>
                    <td><b>Chance</b></td>
                    <td>Count all the eyes on the dice.</td>
                    <td>3 4 2 5 4=18 points</td>
                </tr>
                <tr>
                    <td height="2"><b>yatzy</b></td>
                    <td height="2">All the dice have to have the same value. Yatzy is always
                        worth 50 points.</td>
                    <td height="2">4 4 4 4 4=50 points</td>
                </tr>
                </tbody></table>


        </div>
    </article>
    <article class="item3">
        <div class="inner-Footer">
            <p>Copyright (c) 2020 by Halim Dakir</p>
        </div>
        </article>
</div>
<script src="vue/homeScript.js"></script>
</body>
</html>